:root {
    --color-primary: #535665;
    --color-primary-hover: #1F4FA3;
    --color-accent: #E5383B;

    --color-font-main: #3c3c3c;
    --color-iron: #3A3A3A;
    --color-steel: #B4B4B4;
    --color-alloy: #F0F0F2;

    --btn-light: #4fa9ff;
    --btn-light-hover: #73bbff;
    --btn-secondary: #C3C3C3;
    --btn-secondary-hover: #DDDDDD;

    --gold: #D4AF37;
}