.container {
    padding: 20px 0;
    padding-left: 15%;
    padding-right: 15%;
}

.form-row {
    padding-bottom: 20px;
}

.form-label {
    font-size: 18px;
    display: block;
    padding-bottom: 10px;
}

.form-input {
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
    padding: 10px 8px;
}
