.collection-container {
    padding: 20px;
    background-color: #efefef;
    display: flex;
    flex-direction: column;

    .collection-container-title {
        font-weight: 700;
    }

    @media (min-width: 1300px) {
        padding: 0 10rem;
    }

    @media (min-width: 2000px) {
        padding: 0 20rem;
    }

    .collection-table-container {
        padding: 1rem;
        background-color: #fff;
        border-radius: 12px;

        .collection-table-top {
            display: flex;
            padding: 1rem 0;
            flex-direction: row;
            align-items: center;
            gap: 1rem;

            span {
                flex-grow: 1;
            }
        }

        .collection-management-table {
            width: 100%;
            border-collapse: collapse;

            thead tr td {
                padding: 1rem;
                color: #aaa;
            }

            .collection-management-row {
                td {
                    padding: 0.5rem 0.8rem;
                    color: #333;
                    &.collection-table-id {
                        color: #888;
                    }

                    .collection-table-brand {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;

                        .collection-table-brand-image {
                            border: 1px solid #ddd;
                            background-color: #efefef;
                        }

                        .collection-table-brand-name {
                            white-space: nowrap;
                            font-weight: 500;
                            color: #444;
                            font-size: 0.8rem;
                        }
                    }

                    .collection-table-image {
                        object-fit: cover;
                    }

                    .collection-table-action {
                        display: flex;
                        align-items: center;
                        gap: 0.2rem;

                        button {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }

}

.cell-clickable {
    cursor: pointer;
}

.cell-mutiple-item-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.c-input-with-icon {
    position: relative;
    .c-input-with-icon-icon {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        aspect-ratio: 1;
        color: #888;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
    }
    .c-input-with-icon-input {
        height: 2rem;
        padding-left: 2rem;
        width: 20rem;
        font-size: 0.9rem;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-sizing: border-box;

        &:focus {
            border: 2px solid #555;
            outline: none;
        }
    }
}