.box {
    border: 1px solid #888;
    border-radius: 4px;
    background-color: #ccc;
    padding: 1rem 0.6rem;
    font-size: 1rem;
    margin: 1rem 0;
    color: #555;
}

.error {
    border-color: #df7371;
    background-color: #ffc8c6;
    color: #df7371;
}